

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
  background-color: #19a7ff;
  color: white;

  /* border-top-right-radius:15px;
border-bottom-right-radius:15px; */
}

.form-control {
  border-radius: 0px;
  border-color: #19a7ff;
}

@media (max-width: 800px) {
  .col-lg-9 .row .d-flex {
    flex-direction: column;
  }


  .col-lg-9 .row .d-flex > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .col-lg-9 .row .d-flex .btn {
    width: 100%;
  }

  .search-slt{
    border-radius: 15px;
  }
  .wrn-btn{
    border-radius: 15px;
  }
  .sorted{
    width: 30% !important;
  }
}

