<div class="row justify-content-center ">
  <div class="col-lg-9">
    <div class="row">
      <form class="d-flex"  [formGroup]="searchForm" (ngSubmit)="buildUrlCondition()" novalidate="novalidate" name="searchForm" >
        <div class="col-lg-6 col-md-3 col-sm-12 p-0">
          <input class="rounded-start-4 form-control search-slt" type="text" formControlName="name" id=""
                 placeholder="Enter a school name">
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
          <select class="form-control search-slt " formControlName="city" (change)="onProvinceChange()">
<!--            <option class="text-secondary" value="" selected>Select Province</option>-->
            <option value=""class="text-secondary">City/Province</option>
            <ng-container *ngFor="let p of listProvinces">
            <option value="{{p.id}}"> {{p.name}} </option>
            </ng-container>
          </select>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
          <select class="form-control search-slt" formControlName="district">
            <option class="text-secondary"value="">District</option>
            <option *ngFor="let district of districtOptions" value="{{district.id}}">{{ district.name }}</option>
          </select>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-12 p-0">
          <button type="submit" class="rounded-end-4 btn  wrn-btn" >Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
