<div class="layout-public">
  <app-header></app-header>
  <section class="d-flex justify-content-center align-items-center">
    <router-outlet></router-outlet>
  </section>
  <app-footer></app-footer>
</div>
<app-register></app-register>
<app-forgot-password></app-forgot-password>
<app-login></app-login>
<app-logout></app-logout>
