.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}
.text-bg-success-status {
  background-color: rgba(197, 249, 192, 0.6);
  color: #4aa042;
}

.text-bg-danger-status {
  background-color: rgba(255, 137, 137, 0.6);
  color: #ff2b2b;
}

.custom-nav {
  line-height: 30px;
}

.paging {
  display: flex;
  justify-content: center;
}

.notification{
  color: red;
  font-size: 25px;
  text-align: center;
}
.enroll{
  font-size: 14px;
  width: 120px;
  //border: 2px solid #19a7ff;
}
