.header-content {
  column-gap: 5px;
  border: none;
  background-color: #d3eeff;
}

.content {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header-btn {
  cursor: pointer;
  font-weight: 600;
  color: #4fbbff;
}

.header-btn:hover {
  opacity: 0.6;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fdffa5;
  color: #848680;
  display: flex;
  justify-content: center;
  align-items: center;
}
