<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Publish School Mail</title>
</head>
<body>
    <p>This email is from KTS system,</p><br>
    <p>Hi <b th:text="${userName}"></b>,</p>
    <p>The "<b th:text="${schoolName}"></b>" school has just been published by "<a href="" th:text="${adminMail}"></a>"</p><br>
    <p>Click <a th:href="${link}">here</a> to view more details.</p><br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>