<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>School Submit Mail</title>
</head>
<body>
    <p>This email is from KTS system,</p><br>
    <p>Hi KTS admin,</p>
    <p>There is a new school "<b th:text="${schoolName}"></b>" that is submitted and waiting for your review.</p>
    <p>Click <a th:href="${link}">here</a> to review.</p><br>
    <p>Thanks & Regards!</p>
    <b>KTS Team</b><br>
    <p th:text="${dateTime}"></p>
</body>
</html>