<nz-layout class="private-layout">
  <nz-sider id="sidebar">
    <div class="wrapper">
      <div class="logo">
        <a [routerLink]="['/admin']">
          <img
            src="../../../../assets/image/logo.image.webp"
            alt="Best School" style="width: 5rem;">
        </a>
      </div>
      <div class="btn-expand d-flex justify-content-center">
        <button class="btn-collapse" (click)="toggleCollapsed()">
          <span nz-icon [nzType]="isCollapsed ? 'left' : 'right'"></span>
        </button>
      </div>
      <ul class="wrapper-menu" nz-menu nzMode="inline" nzTheme="dark">
        <li class="menu-item effect p-0"
          nz-menu-item
          nz-tooltip
          nzTooltipPlacement="right"
          [routerLink]="['/admin/school']"
          nzSelected
          [nzMatchRouter]="true"
        >
          <span nz-icon>
            <i class="fa-solid fa-school"></i>
          </span>
          <span class="item-title m-0">SCHOOL MANAGEMENT</span>
        </li>
        <li class="menu-item effect p-0" *ngIf="role == 'ADMIN'" nz-menu-item [nzMatchRouter]="true" [routerLink]="['/admin/user']">
          <span nz-icon>
            <i class="fa-solid fa-users"></i>
          </span>
          <span class="item-title m-0">USER MANAGEMENT</span>
        </li>
        <li class="menu-item effect p-0" nz-menu-item [nzMatchRouter]="true" [routerLink]="['/admin/reminder']">
          <span nz-icon>
            <i class="fa-solid fa-bullhorn"></i>
          </span>

          <span class="item-title m-0">REMINDER</span>
        </li>
        <li class="menu-item effect p-0" nz-menu-item [nzMatchRouter]="true"  [routerLink]="['/admin/parent']">
          <span nz-icon>
            <i class="fa-solid fa-user-group"></i>
          </span>
          <span class="item-title m-0">PARENT MANAGEMENT</span>
        </li>
        <li class="menu-item effect p-0" nz-menu-item [nzMatchRouter]="true"  [routerLink]="['/admin/request']">
          <span nz-icon>
            <i class="fa-regular fa-envelope-open"></i>
          </span>
          <span class="item-title m-0">REQUEST MANAGEMENT</span>
        </li>
      </ul>
    </div>
  </nz-sider>

  <nz-content id="content">
    <nz-header>
      <app-header></app-header>
    </nz-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <nz-footer>
      <app-footer></app-footer>
    </nz-footer>
  </nz-content>
</nz-layout>
