<div class="row g-0">
  <div class="col-md-4 pt-3">
    <img src="{{ImageUtility.displayImg(school.mainImage)}}"
         class="img-fluid" alt="{{school.name}}">
    <div *ngIf="school.feedBacks">
      <div class="d-flex align-items-center justify-content-centers mt-3">
        <app-rating-star [sizeInput]="6" [rate]="school.avgRating" [maxRate]="5"></app-rating-star>
        <div class="review-count m-3">
          {{school.avgRating ? school.avgRating.toFixed(1) : 0.0}}/5 ({{school.feedBacks?.length}} ratings)
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8 ps-2 pt-2">
    <div class="card-body p-1 ">
      <div style="max-width: 450px">
        <a [routerLink]="['/home/school/', school.id]" class="card-title text-primary ">
          <h3 class="title">{{school.name}}</h3>
        </a>
      </div>

      <table class="table table-0 table-borderless mb-0 p-0">
        <tbody>
        <tr>
          <td class="label-column p-1">
            <i class="fa-solid fa-map-location-dot"></i>
          </td>
          <td class="label-column p-1">Address:</td>
          <td class="content-column p-1">
            {{ [school.street, school.ward?.name, school.district?.name, school.city?.name].filter(Boolean).join(', ') }}
          </td>
        </tr>
        <tr>
          <td class="label-column p-1"><i class="fa-solid fa-earth-asia"></i></td>
          <td class="label-column p-1">Website:</td>
          <td class="content-column p-1"><a href="{{school.website}}">{{school.website}}</a></td>
        </tr>
        <tr>
          <td class="label-column p-1">
            <i class="fa-regular fa-money-bill-1"></i>
          </td>
          <td class="label-column p-1">
            Tuition fee:
          </td>
          <td class="content-column p-1">From {{(school.minFee) |number}} VND/month</td>
        </tr>
        <tr>
          <td class="label-column p-1">
            <i class="fa-solid fa-book-bookmark"></i>
          </td>
          <td class="label-column p-1">
            Admission age:
          </td>
          <td class="content-column p-1">{{school.childReceivingAge | displayName}}</td>
        </tr>
        <tr>
          <td class="label-column p-1">
            <i class="fa-solid fa-people-roof"></i>
          </td>
          <td class="label-column p-1">
            School type:
          </td>
          <td class="content-column p-1">{{school.type | schoolType}}</td>
        </tr>
        <tr>

          <!--  Hiện ra các Facilities and  Utilities:-->
          <td class="label-column p-1">
            <i class="fa-regular fa-lightbulb"></i>
          </td>
          <td class="label-column p-1">
            Facilities and Utilities:
          </td>

          <td class="content-column p-1">
            <ng-container *ngFor="let itemUl of school.schoolUtilities; let i = index">
                         <span class="badge bg-primary-subtle m-1 text-primary"
                               *ngIf="i < 3">
                         {{itemUl.utility.name}}</span>

            </ng-container>
            <ng-container *ngFor="let itemFc of school.schoolFacilities; let i = index">
                        <span class="badge bg-primary-subtle m-1 text-primary"
                              *ngIf="i < 3">
                        {{itemFc.facility.name}}</span>
            </ng-container>
            <ng-container *ngIf="school.schoolUtilities.length >= 3 && school.schoolFacilities.length >= 3">
                        <span class="more-items" style=" font-size: 0.9em; color: rgb(128,128,128); ">
                          +{{school.schoolUtilities.length + school.schoolFacilities.length - 6}} more
                        </span>
            </ng-container>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="floating-button-container">
      <app-request-counselling [schoolId]="school.id"></app-request-counselling>
    </div>
  </div>
</div>

