<div class="empty-body">
  <div class="header-content">
    <a [routerLink]="['/admin/auth/login']">
      <img class="logo"
           src="../../../../assets/image/logo.image.webp"
           alt="Best School"
           style="width: 5rem"
      />
    </a>
  </div>
  <router-outlet></router-outlet>
  <div class="footer-content">
    <p class="m-0" style="color: #ffffff">
      <i class="fa-regular fa-copyright"></i>
      <span> Copyright by HN23-FRF-FJB01</span>
    </p>
  </div>

</div>
