<main>
  <div class="container-fluid">
    <div class="container mt-2">
      <div class="breadcrumb-links mb-5">
        <a [routerLink]="['/']" class="text-dark text-decoration-none px-2">Home</a>
        <a [routerLink]="['/home/school']" class="text-dark text-decoration-none px-2">Search for school</a>
        <span class="px-2">School details</span>
      </div>
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div
            class="carousel-item"
            *ngFor="let image of listImage; let i = index"
            [class.active]="i === 0"
          >
            <img
              src="{{ImageUtility.displayImg(mainImage?.filePath) }}"
              class="d-block w-100"
              alt="Large Image {{ i + 1 }}"
            />
            <div class="d-flex mt-3 justify-content-center">
              <img
                *ngFor="let img of image"
                src="{{ImageUtility.displayImg( img?.filePath )}}"
                class="d-block w-30"
                alt="img {{ img?.id }}"
              />
            </div>
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </a>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <div class="card card-bordered">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-group list-group-flush">
            <li class="list-group-item border-0">
              <h3 class="fw-bold text-primary">{{ schoolDetail.name }}</h3>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-map-location-dot"></i>
                  <strong>  Address:</strong>
                </div>
                <div class="col-sm-9">
                  {{ schoolDetail.street }}, {{ schoolDetail.ward?.name }},
                  {{ schoolDetail.district?.name }} , {{ schoolDetail.city?.name }}
                </div>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-envelope"></i>
                  <strong>  Email:</strong>
                </div>
                <a class="col-sm-9" href="mailto:{{ schoolDetail.email }}">{{
                  schoolDetail.email
                }}</a>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-phone"></i>
                  <strong> Contact:</strong>
                </div>
                <div class="col-sm-9">{{ schoolDetail.phoneNumber }}</div>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-earth-asia"></i>
                  <strong>  Website:</strong>
                </div>
                <div class="col-sm-9">
                  <a href="http://www.thptabc.edu.vn"></a
                  >{{ schoolDetail.website }}
                </div>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-coins"></i>
                  <strong> Tuition fee:</strong>
                </div>
                <div class="col-sm-9">
                  From {{ schoolDetail.minFee }} to
                  {{ schoolDetail.maxFee }} VND/month
                </div>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-book-bookmark"></i>
                  <strong>  Admission age:</strong>
                </div>
                <div class="col-sm-9">
                  {{ schoolDetail.childReceivingAge | displayName }}
                </div>
              </div>
            </li>
            <li class="list-group-item border-0">
              <div class="row">
                <div class="col-sm-3">
                  <i class="fa-solid fa-people-roof"></i>
                  <strong>  School type:</strong>
                </div>
                <div class="col-sm-9">{{ schoolDetail.type | schoolType }}</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="d-flex flex-column justify-content-between h-100">
            <div
              class="d-flex flex-column justify-content-start align-items-end flex"
            >
              <div class="my-btn">
                <app-request-counselling
                  [schoolId]="schoolDetail.id"
                ></app-request-counselling>
              </div>
              <div class="my-btn" *ngIf="checkEnrolled">
<!--                <app-feed-back [schoolId]="schoolDetail.id"></app-feed-back>-->
              </div>
            </div>
            <div class="d-flex justify-content-end align-items-center">
              <div class="rating">
                <div class="score">
                  {{
                    schoolDetail.avgRating
                      ? schoolDetail.avgRating.toFixed(1)
                      : 0.0
                  }}/5 ({{ schoolDetail.feedBacks?.length }} ratings)
                </div>
                <app-rating-star
                  [sizeInput]="6"
                  [maxRate]="5"
                  [rate]="schoolDetail.avgRating"
                ></app-rating-star>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-3">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link text-dark active"
          data-bs-toggle="tab"
          href="#overview"
          >Overview</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" data-bs-toggle="tab" href="#rating"
          >Ratings</a
        >
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div id="overview" class="container card2-bordered tab-pane active">
        <br />
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>School Introduction</h3>
              <br />
              <p>{{ schoolDetail.introduction }}</p>
              <section>
                <h3>Facilities</h3>
                <div class="row">
                  <div class="col-md-4" *ngFor="let faci of listFacility">
                    <div class="form-check m-2">
                      <input
                        type="checkbox"
                        [checked]="isCheckedfacility(faci)"
                        [disabled]="true"
                        class="form-check-input"
                      />
                      <label>{{ faci }}</label>
                    </div>
                  </div>
                </div>
              </section>
            </div>
            <section>
              <h3>Utilities</h3>
              <div class="row">
                <div class="col-md-4" *ngFor="let uti of listUtility">
                  <div class="form-check m-2">
                    <input
                      type="checkbox"
                      [checked]="isCheckedUtility(uti)"
                      [disabled]="true"
                      class="form-check-input"
                    />
                    <label>{{ uti }}</label>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div id="rating" class="container  card2-bordered tab-pane fade">
        <br />
        <div class="div-total">
          <section>
            <br />
            <h4>Average Ratings</h4>
            <br />
            <p *ngIf="!listFeedbacks.length">
              There are no reviews for this school yet!
            </p>
            <div
              *ngIf="listFeedbacks.length"
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <p class="h3">
                {{ schoolDetail.avgRating?.toFixed(1) }} Stars ({{
                  listFeedbacks.length
                }}
                Ratings)
              </p>
              <app-rating-star
                [sizeInput]="3"
                [rate]="schoolDetail.avgRating"
                [maxRate]="5"
              ></app-rating-star>
            </div>
          </section>
          <section>
            <br />
            <h4>Details</h4>
            <div>
              <button (click)="getRateDetailNumber(0)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 0 }">All<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 0 }"></i></button>
              <button (click)="getRateDetailNumber(5)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 5 }">5<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 5 }"></i></button>
              <button (click)="getRateDetailNumber(4)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 4 }">4<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 4 }"></i></button>
              <button (click)="getRateDetailNumber(3)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 3 }">3<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 3 }"></i></button>
              <button (click)="getRateDetailNumber(2)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 2 }">2<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 2 }"></i></button>
              <button (click)="getRateDetailNumber(1)" class="btn-detail mb-2" [ngClass]="{ 'active1': activeButton === 1 }">1<i class="fa fa-star text-warning" [ngClass]="{ 'text-light': activeButton === 1 }"></i></button>
            </div>
          </section>
          <hr style="height: 1px; color: #388ac5" />
          <div>
            <section class="p-3" *ngFor="let fb of listFeedBackFilter">
              <div class="row p-3 feedback-item">
                <div
                  class="col-sm-6 mb-3 mb-sm-0 mt-4"
                  style="border-right: 1px solid #a0bbce"
                >
                  <div>
                    <div class="row card-body">
                      <div class="col-4 image-card image-1">
                        <img
                          src="{{ fb.user.imageProfile }}"
                          alt="{{ fb.user.fullName }}"
                          style="
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                          "
                        />
                      </div>
                      <div class="row col-8">
                        <div
                          class="col-6 customer-name"
                          style="display: flex; align-items: center"
                        >
                          <b>{{ fb.user.fullName }}</b>
                        </div>
                        <br />
                        <div style="font-size: smaller">
                          {{ fb.createdDate | date : "dd/MM/yyyy hh:mm a" }}
                        </div>

                        <div class="col-12 customer-post">
                          <p>{{ fb.content }}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0 mt-4">
                  <div>
                    <section>
                      <div class="container mx-3">
                        <div class="row Overall" style="font-size: 1.5em">
                          <div class="col-md-5">
                            <p>Overall Rating</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [sizeInput]="4"
                              [rate]="fb.avgRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">{{ fb.avgRating }}/5</p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <p>Learning program</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [rate]="fb.learningProgramRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">
                              {{ fb.learningProgramRating }}/5
                            </p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <p>Facilities and Utilities</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [rate]="fb.facilityAndUtilityRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">
                              {{ fb.facilityAndUtilityRating }}/5
                            </p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-5">
                            <p>Extracurricular Activities</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [rate]="fb.extracurricularActivityRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">
                              {{ fb.extracurricularActivityRating }}/5
                            </p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <p>Teachers and Staff</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [rate]="fb.teacherAndStaffRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">
                              {{ fb.teacherAndStaffRating }}/5
                            </p>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-5">
                            <p>Hygiene and Nutrition</p>
                          </div>
                          <div class="col-md-5">
                            <app-rating-star
                              [rate]="fb.hygieneAndNutritionRating"
                              [maxRate]="5"
                            ></app-rating-star>
                          </div>
                          <div class="col-md-2">
                            <p class="review-count">
                              {{ fb.hygieneAndNutritionRating }}/5
                            </p>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</main>
