<div class="px-3">
  <nz-breadcrumb nzSeparator=">" class="py-3">
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/school']">School Management</nz-breadcrumb-item>
    <nz-breadcrumb-item class="text-primary fw-bold" role="button" [routerLink]="['/admin/school']">School List</nz-breadcrumb-item>
    <nz-breadcrumb-item><a class="text-primary fw-bold">Edit school</a></nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="school-detail">
    <h4>Edit School</h4>
    <nz-form-item class="status mx-3">
      <ng-container *ngIf="schoolDetail?.status === 'SAVED'">
        <nz-tag [nzColor]="'purple'">Save</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'SUBMITTED'">
        <nz-tag [nzColor]="'cyan'">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'APPROVED'">
        <nz-tag [nzColor]="'orange'">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'REJECTED'">
        <nz-tag [nzColor]="'red'">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'PUBLISHED'">
        <nz-tag [nzColor]="'geekblue'">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'UNPUBLISHED'">
        <nz-tag nzColor="default">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
      <ng-container *ngIf="schoolDetail?.status === 'DELETED'">
        <nz-tag [nzColor]="'#f50'">{{schoolDetail?.status}}</nz-tag>
      </ng-container>
    </nz-form-item>
  </div>
  <ng-container *ngIf="schoolDetail">
    <app-view-crud-school [readonly]="false"
                          [schoolObject]="schoolDetail"
                          [edit]="true">
    </app-view-crud-school>
  </ng-container>
</div>
