<nz-breadcrumb class="text-start m-3">
  <nz-breadcrumb-item class="text-primary">
    <a class="text-primary fw-bold" [routerLink]="['/admin/user']">User Management</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item class="text-primary fw-bold">
    <a class="text-primary fw-bold" [routerLink]="['/admin/user']">User List</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item class="text-primary fw-bold">User Detail</nz-breadcrumb-item>
</nz-breadcrumb>
<h3 class="ms-5 text-start">User Detail</h3>
<nz-card class="justify-content-start" style="width: 548px;">
  <ng-container>
    <div class="input-container">
      <label for="fullName">Full Name<span style="color: red;font-weight: lighter"> *</span></label>
      <span id="fullName">{{ userDetail.fullName }}</span>
    </div>
    <div *ngIf="userDetail && userDetail.account" class="input-container">
      <label for="email">Email<span style="color: red;font-weight: lighter"> *</span></label>
      <span id="email">{{ userDetail.account.email }}</span>
    </div>
    <div class="input-container">
      <label for="dob">DOB<span style="color: red;font-weight: lighter"> *</span></label>
      <span id="dob">{{ userDetail.dob | dobDate }}</span>
    </div>
    <div class="input-container">
      <label for="phoneNo">Phone No.<span style="color: red;font-weight: lighter"> *</span></label>
      <span id="phoneNo">{{ userDetail.phoneNumber }}</span>
    </div>
    <div *ngIf="userDetail && userDetail.account" class="input-container">
      <label for="role">Role<span style="color: red;font-weight: lighter"> *</span></label>
      <span id="role">{{ userDetail.account.role }}</span>
    </div>
    <div *ngIf="userDetail?.account?.active === true" class="input-container">
      <label for="activeStatus">Status</label>
      <span id="activeStatus">Active</span>
    </div>
    <div *ngIf="userDetail?.account?.active === false" class="input-container">
      <label for="deactiveStatus">Status</label>
      <span id="deactiveStatus">Inactive</span>
    </div>
  </ng-container>
</nz-card>

<div class="button-container d-flex justify-content-center">
  <button *ngIf="userDetail?.account?.active===true && userDetail.account.role !=='ADMIN' "
          (click)="updateUserStatus(userDetail.userId);deactiveNotification('success')"
          class="text-primary" nz-button nzType="default" [ngStyle]="{ 'border-color': '#1890ff' }">
    <strong>Deactive</strong>
  </button>
  <button *ngIf="userDetail?.account?.active===false && userDetail.account.role !=='ADMIN'"
          (click)="updateUserStatus(userDetail.userId);activeNotification('success')"
          class="text-primary" nz-button nzType="default" [ngStyle]="{ 'border-color': '#1890ff' }">
    <strong>Active</strong>
  </button>
  <button class="text-primary" nz-button nzType="default" [routerLink]="'/admin/user/list'"
          [ngStyle]="{ 'border-color': '#1890ff' }">
    <strong>Cancel</strong>
  </button>
  <button nz-button nzType="primary" [routerLink]="['/admin/user/edit', userId]">
    <strong>Edit</strong>
  </button>
</div>
