nz-card {
  font-size: 16px;
  border: none;
}
button {
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  margin-right: 30px;
  padding: 0;
}
.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  flex: 1;
  font-weight: bold;
  margin-left: 140px;
  text-align: left;
  padding-right: 10px;
  white-space: nowrap;
}

span {
  flex: 2;
  text-align: left;
  white-space: nowrap;
}
