.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}
.text-bg-success-status {
  background-color: rgba(197, 249, 192, 0.6);
  color: #4aa042;
}

.text-bg-danger-status {
  background-color: rgba(255, 137, 137, 0.6);
  color: #ff2b2b;
}
.showFeedback,.uneroll{
  transition: transform 0.3s;
}
.showFeedback:hover, .uneroll:hover{
  cursor: pointer;
 transform: scale(1.1);
}

