//.table-custom {
//  margin-top: 30px;
//  margin-left: 15px;
//  margin-right: 15px;
//}

.table-custom tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-custom th {
  text-align: center;
}

.table-custom td {
  text-align: center;
}

.text-bg-success-status {
  background-color: rgba(197, 249, 192, 0.6);
  color: #4aa042;
}

.text-bg-danger-status {
  background-color: rgba(237, 220, 133, 0.6);
  color: #e69224;
}

.text-bg-warning-status {
  background-color: rgba(239, 120, 120, 0.6);
  color: #ac1c1c;
}

.ant-pagination {
  text-align: center;
}

//.title-navbar{
//  margin-top: 20px;
//  margin-left: 10px;
//  margin-right: 10px;
//}
.notification {
  color: red;
  font-size: 25px;
  text-align: center;
}

nz-tag {
  width: 70px;
}
