<body>
  <button type="button" class="btn btn-primary my-btn" data-bs-toggle="modal" data-bs-target="#feedbackModal">
    Rating School
  </button>
  <div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-body py-5">
          <div class="text-center mb-3">
            <h1 class="modal-title mb-2" id="exampleModalLabel">Please leave your rating</h1>
            <p class="mb-5">Please give specific rating for the following criteria</p>
          </div>
          <form [formGroup]="feedBackForm" method="post">
            <div class="col-10 mx-5">
              <p class="stars" id="learning_rating">
                <label class="myrating">Learning program:</label>
                <app-star-rating formControlName="learningProgramRating"></app-star-rating>
                <ng-container *ngIf="learningProgramRating?.invalid && (learningProgramRating?.dirty || learningProgramRating?.touched)">
                  <div class="text-start text-danger" *ngIf="learningProgramRating?.errors?.['required']">
                    Learning program rating is required!
                  </div>
                </ng-container>
              </p>
            </div>
            <div class="col-10 mx-5">
              <p class="stars" id="facilities_rating">
                <label class="myrating">Facilities and Ultilities:</label>
                <app-star-rating formControlName="facilityAndUtilityRating"></app-star-rating>
                <ng-container *ngIf="facilityAndUtilityRating?.invalid && (facilityAndUtilityRating?.dirty || facilityAndUtilityRating?.touched)">
                  <div class="text-start text-danger" *ngIf="facilityAndUtilityRating?.errors?.['required']">
                    Facility and Utility rating is required!
                  </div>
                </ng-container>
              </p>
            </div>
            <div class="col-10 mx-5">
              <p class="stars" id="extracurricular_rating">
                <label class="myrating">Extracurricular Activities:</label>
                <app-star-rating formControlName="extracurricularActivityRating"></app-star-rating>
                <ng-container *ngIf="extracurricularActivityRating?.invalid && (extracurricularActivityRating?.dirty || extracurricularActivityRating?.touched)">
                  <div class="text-start text-danger" *ngIf="extracurricularActivityRating?.errors?.['required']">
                    Extra curricular activity rating is required!
                  </div>
                </ng-container>
              </p>
            </div>
            <div class="col-10 mx-5">
              <p class="stars" id="teacher_rating">
                <label class="myrating">Teacher and Staff:</label>
                <app-star-rating formControlName="teacherAndStaffRating"></app-star-rating>
                <ng-container *ngIf="teacherAndStaffRating?.invalid && (teacherAndStaffRating?.dirty || teacherAndStaffRating?.touched)">
                  <div class="text-start text-danger" *ngIf="teacherAndStaffRating?.errors?.['required']">
                    Teacher and Staff rating is required!
                  </div>
                </ng-container>
              </p>
            </div>
            <div class="col-10 mx-5">
              <p class="stars" id="hygiene_rating">
                <label class="myrating">Hygiene and Nutrition:</label>
                <app-star-rating formControlName="hygieneAndNutritionRating"></app-star-rating>
                <ng-container *ngIf="hygieneAndNutritionRating?.invalid && (hygieneAndNutritionRating?.dirty || hygieneAndNutritionRating?.touched)">
                  <div class="text-start text-danger" *ngIf="hygieneAndNutritionRating?.errors?.['required']">
                    Hygiene and Nutrition rating is required!
                  </div>
                </ng-container>
              </p>
            </div>
            <div class="col-10 mx-5">
              <label for="feedback" class="myrating mb-2">Feedback:</label><br>
              <textarea id="feedback" formControlName="content" rows="7" cols="49" class="rounded-1 bg-light w-100"></textarea>
            </div>
          </form>
          <div class=" m-5 d-flex justify-content-around column-gap-5" style="margin-bottom: 50px;">
            <button type="button" class="btn btn-outline-primary" style="width: 160px;" data-bs-dismiss="modal" (click)="clearForm()">Cancel</button>
            <button type="submit" class="btn btn-primary" style="width: 160px;" (click)="submitForm()">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>

