.middle {
  position: relative;
  width: 100%;
  max-width: 1300px;
}

.slider {
  position: relative;
  z-index: 1;
  height: 10px;
  margin: 0 15px;
}
.slider > .track {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color: #779df6;
}
.slider > .range {
  position: absolute;
  z-index: 2;
  left: 25%;
  right: 25%;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background-color:#2E65F3;
}
.slider > .thumb {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  background-color: #2E65F3;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(72, 163, 224, 0.1);
  transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
  left: 25%;
  //transform: translate(-15px, -10px);
  transform: translate(-12px, -5px);
  width: 20px;
  height: 20px;
}
.slider > .thumb.right {
  right: 25%;
  //transform: translate(15px, -10px);
  transform: translate(12px, -5px);
  width: 20px;
  height: 20px;
}
.slider > .thumb.hover {
  box-shadow: 0 0 0 20px rgba(116, 179, 255, 0.375);
}
.slider > .thumb.active {
  box-shadow: 0 0 0 40px rgba(116, 179, 255, 0.375);
}

input[type=range] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 2;
  height: 10px;
  width: 100%;
  opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
  pointer-events: all;
  width: 30px;
  height: 30px;
  border-radius: 0;
  border: 0 none;
  background-color: red;
  -webkit-appearance: none;
}
