//
nz-select {
  max-width: 100%;
  margin-bottom: 0.25rem;
}
nz-form-control nz-select{
  margin-bottom: 0.5rem;
}
nz-form-item{
  margin-bottom: 1rem;
}
nz-breadcrumb, h4{
  display: flex;
  align-items: flex-start;
  margin: 2rem 0;
}
nz-form-label{
  text-align: start;
  font-weight: bold;
}
button{
  margin-right: 1rem;
  margin-bottom: 5px;
}
.ant-checkbox-wrapper.ant-checkbox-wrapper-in-form-item {
  margin-bottom: 1rem;
}

.file-drop {
  border: 2px dashed #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.file-input {
  display: none;
}

.file-label {
  display: block;
  font-size: 18px;
  color: #333;
}

.file-icon {
  font-size: 36px;
  display: block;
  margin-bottom: 10px;
}

.file-text {
  color: #777;
}
.input-file {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.file-drop:hover {
  border-color: #555;
}
.btn-upload {
  padding: 10px;
  border: 1px gray solid;
}
img {
  object-fit: cover;
  width: 100%;
}
.image-container {
  width: 33%;
  position: relative;
  display: inline-block;
}
.image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Màu nền phủ lên ảnh */
  opacity: 0; /* Ban đầu ẩn đi */
  transition: opacity 0.2s; /* Hiệu ứng mờ dần */
}
.image-container:hover::after {
  z-index: 10;
  opacity: 1;
}
.delete-button, .undo-button {
  position: absolute;
  top: 50%;
  right: 50%;
  cursor: pointer;
  transform: translate(100%, -50%);
  display: none; /* Initially hide the delete button */
}
.image-container:hover .delete-button,
.image-container:hover .undo-button,{
  z-index: 100;
  display: block; /* Show the delete button on hover */
}

.disabled-input {
  background-color: #f2f2f2; /* Change this color to the gray color you desire */
  color: #999; /* Text color for disabled input */
  cursor: not-allowed; /* Change cursor to indicate it's disabled */

}
.disabled-input[readonly]:hover {
  outline: none; /* Remove outline on hover when readonly is true */
}

