<div class="d-flex justify-content-center align-items-center">
  <form nz-form [formGroup]="validateForm">

    <nz-form-item *ngIf="(role == 'ADMIN') && (!readonly && !status)">
      <nz-form-label [nzSpan]="6" nzFor="ownerId">School Owner<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please select a school owner">
        <nz-select nzShowSearch nzAllowClear formControlName="ownerId"
                   [nzDisabled]="readonly"
                   [nzPlaceHolder]="'Select a school owner'"
                   (click)="loadAllOwnerSchool()">
          <nz-option *ngFor="let owner of optionList" [nzLabel]="owner.fullName" [nzValue]="owner.id"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--  name  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="name">School name<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please input school name">
        <input [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" type="text" nz-input
               formControlName="name"
               placeholder="Enter School Name Here..."/>
      </nz-form-control>
    </nz-form-item>
    <!--  type  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="type" >School Type<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please choose a school type">
        <nz-select [nzDisabled]="readonly"
                   [nzPlaceHolder]="'Select a school type'"
                   nzShowSearch nzAllowClear formControlName="type">
          <nz-option *ngFor="let listType of listSchoolType" [nzLabel]=" listType | schoolType"
                     [nzValue]="listType"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--  Address -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="schoolAddress" >School Address<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please select and input a school address!">
        <div style="display: flex; flex-direction: column;">
          <nz-select [nzDisabled]="readonly" [nzPlaceHolder]="'Select a Province/City'" formControlName="cityId">
            <nz-option *ngFor="let p of provinces" [nzValue]="p.id" [nzLabel]="p.name"></nz-option>
          </nz-select>
          <nz-select [nzDisabled]="readonly" [nzPlaceHolder]="'Select a District'" formControlName="districtId">
            <nz-option *ngFor="let c of districtOptions" [nzValue]="c.id" [nzLabel]="c.name"></nz-option>
          </nz-select>
          <nz-select [nzDisabled]="readonly" [nzPlaceHolder]="'Select a Ward'" formControlName="wardId">
            <nz-option *ngFor="let w of wardOptions" [nzValue]="w.id" [nzLabel]="w.name"></nz-option>
          </nz-select>
          <input [readonly]="readonly" [ngClass]="{'disabled-input': readonly}" [disabled]="readonly" type="text"
                 nz-input formControlName="street"
                 placeholder="Enter the street of school Here"/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <!--    email -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="email">Email<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please enter the valid email here">
        <input [readOnly]="readonly" [ngClass]="{'disabled-input': readonly}" type="text" nz-input
               formControlName="email"
               placeholder="Please input school email"/>
      </nz-form-control>
    </nz-form-item>
    <!--  Website -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="website">Website</nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Enter School Website Here...">
        <input [readOnly]="readonly" [ngClass]="{'disabled-input': readonly}" type="text" nz-input
               formControlName="website"
               placeholder="Please the school website"/>
      </nz-form-control>
    </nz-form-item>
    <!--    Phone -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="phoneNumber">Phone No<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="Please enter the valid Phone Number">
        <input [readOnly]="readonly" [ngClass]="{'disabled-input': readonly}" type="text" nz-input
               formControlName="phoneNumber"
               placeholder="Enter Phone Number Here..."/>
      </nz-form-control>
    </nz-form-item>
    <!--  Child Age-->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="childReceivingAge">Child-receiving age<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="please select a receiving age">
        <nz-select [nzDisabled]="readonly"
                   [nzPlaceHolder]="'Select a receiving age'"
                   nzShowSearch nzAllowClear formControlName="childReceivingAge">
          <nz-option *ngFor="let age of admissionAge" [nzLabel]=" age | displayName " [nzValue]="age"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--  Education method  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="educationMethod">Education method<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14" nzErrorTip="please select a education method">
        <nz-select [nzDisabled]="readonly"
                   [nzPlaceHolder]="'Select a education method'"
                   nzShowSearch nzAllowClear formControlName="educationMethod">
          <nz-option *ngFor="let method of eductionMethod" [nzLabel]=" method | educationDisplay "
                     [nzValue]="method"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <!--  Fee -->
    <nz-form-item>
      <nz-form-label  [nzSpan]="6">Fee/month (VND)<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control [nzSpan]="14">
        <div class="row">
          <div class="col-6">
            <nz-form-label  class nzFor="minFee">
              From
            </nz-form-label>
            <nz-form-control nzErrorTip="Please input the min value!">
              <nz-input-number formControlName="minFee"
                               class="w-75" [nzReadOnly]="readonly"
                               [ngClass]="{'disabled-input': readonly}"
                               [nzMin]="500000"
                               [nzStep]="100000"
              >
              </nz-input-number>
            </nz-form-control>
          </div>
          <div class="col-6">
            <nz-form-label  class nzFor="maxFee">
              To
            </nz-form-label>
            <nz-form-control nzErrorTip="Please input the max value!">
              <nz-input-number formControlName="maxFee"
                               class="w-75" [nzReadOnly]="readonly"
                               [ngClass]="{'disabled-input': readonly}"
                               [nzMin]="1000000"
                               [nzStep]="100000">
              </nz-input-number>

            </nz-form-control>
          </div>
        </div>
      </nz-form-control>
    </nz-form-item>
    <!--  Facility  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="schoolFacilities">
        Facilities
      </nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log2($event)">
          <div nz-row>
            <div nz-col nzSpan="6" *ngFor="let item of facilities">
              <label nz-checkbox [nzChecked]="schoolFacilities?.includes(item.id)" [nzDisabled]="readonly"
                     [nzValue]="item.id">{{item.name}}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </nz-form-control>
    </nz-form-item>
    <!--  Utility -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="schoolUtilities">
        Utilities
      </nz-form-label>
      <nz-form-control [nzSpan]="14">
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
          <div nz-row>
            <div nz-col nzSpan="6" *ngFor="let item of utilities">
              <label nz-checkbox [nzChecked]="schoolUtilities?.includes(item.id)" [nzDisabled]="readonly"
                     [nzValue]="item.id">{{item.name}}</label>
            </div>
          </div>
        </nz-checkbox-wrapper>
      </nz-form-control>
    </nz-form-item>
    <!--  Introduction  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6" nzFor="introduction" >School Introduction<span class="text-danger ps-1">*</span></nz-form-label>
      <nz-form-control nzErrorTip="please input from 1 - 4000 characters " [nzSpan]="14">
        <nz-textarea-count [nzMaxCharacterCount]="4000">
          <textarea [ngClass]="{'disabled-input': readonly}" [readOnly]="readonly" rows="4"
                    formControlName="introduction" nz-input></textarea>
        </nz-textarea-count>

      </nz-form-control>
    </nz-form-item>
    <!--  Main Image  -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">
        School Main Image
      </nz-form-label>
      <nz-form-control [nzSpan]="14">
        <div *ngIf="edit && schoolObject?.mainImage?.filePath">
          <div class="image-container w-100" *ngIf="!readonly"
               (mouseenter)="hoveredImg = oldMainImage"
               (mouseleave)="hoveredImg = null">
            <img
              nz-image width="100%" height="150px"
              nzSrc="{{oldMainImage?.filePath ? displayImg(oldMainImage?.filePath) : deleteImgSrc}}"
              alt=""
            />
            <button nz-button nzType="default" nzDanger class="delete-button" (click)="deleteOldMainImage()"
                    *ngIf="hoveredImg === oldMainImage && !undoMode" nzShape="circle">
              <span nz-icon nzType="delete" class="text-danger fs-4" nzTheme="outline"></span>
            </button>

            <button nz-button nzType="default" nzDanger class="undo-button" (click)="undoOldMainImage()"
                    *ngIf="hoveredImg === oldMainImage && undoMode" nzShape="circle">
              <span nz-icon nzType="undo" class="text-secondary fs-4" nzTheme="outline"></span>
            </button>

          </div>
          <div class="image-container w-100" *ngIf="readonly">
            <img
              nz-image width="100%" height="150px"
              nzSrc="{{displayImg(oldMainImage?.filePath)}}"
              alt=""
            />
          </div>
        </div>
        <nz-empty [nzNotFoundContent]="''" *ngIf="edit && !schoolObject?.mainImage?.filePath"></nz-empty>
        <div *ngIf="!readonly" class="file-drop">
          <div class="input-file">
            <label class="d-flex justify-content-center align-items-center gap-3 btn btn-outline-secondary">
              <span>Upload Main Image</span>
              <span nz-icon nzType="upload" nzTheme="outline" class="fs-5 fw-bold "></span>
              <input type="file"
                     (change)="handleMainImageChange($event)"
                     class="d-none"
              />
            </label>

          </div>
          <table *ngIf="mainFileList.length" class="mt-3">
            <tr>
              <td>{{mainFileList[0].name}}</td>
              <td class="px-3" role="button" (click)="deleteMainImage()">
                <span nz-icon nzType="delete" nzTheme="outline" class="text-danger"></span>
              </td>
            </tr>
          </table>
        </div>
      </nz-form-control>
    </nz-form-item>
    <!--  Other Image -->
    <nz-form-item>
      <nz-form-label [nzSpan]="6">
        School Other Images
      </nz-form-label>
      <nz-form-control [nzSpan]="14">
        <div *ngIf="edit && schoolObject?.images?.length > 0">
          <ng-container *ngFor="let img of oldOtherImages; let i = index">
            <div class="image-container" *ngIf="!readonly" (mouseenter)="hoveredImg = i"
                 (mouseleave)="hoveredImg = null">
              <img
                nz-image width="100%" height="150px"
                nzSrc="{{imageStates[i]?.deleted ? deleteImgSrc : displayImg(img.filePath)}}"
                alt=""
              />
              <!--              <button class="delete-button" *ngIf="hoveredImg === img">Delete</button>-->
              <button nz-button nzType="default" nzDanger class="delete-button" (click)="deleteOldOtherImages(i)"
                      *ngIf="hoveredImg === i && !imageStates[i]?.deleted" nzShape="circle">
                <span nz-icon nzType="delete" class="text-danger fs-4" nzTheme="outline"></span>
              </button>

              <button nz-button nzType="default" nzDanger class="undo-button" (click)="undoOldOtherImages(i)"
                      *ngIf="hoveredImg === i && imageStates[i]?.deleted" nzShape="circle">
                <span nz-icon nzType="undo" class="text-secondary fs-4" nzTheme="outline"></span>
              </button>
            </div>
            <div class="image-container" *ngIf="readonly">
              <img
                nz-image width="33%" height="150px"
                nzSrc="{{displayImg(img?.filePath)}}"
                alt=""
              />
            </div>
          </ng-container>
        </div>
        <nz-empty [nzNotFoundContent]="''" *ngIf="edit && !schoolObject?.images?.length"></nz-empty>
        <div *ngIf="!readonly" class="file-drop">
          <div class="input-file">
            <label class="d-flex justify-content-center align-items-center gap-3 btn btn-outline-secondary">
              <span>Upload Other Images</span>
              <span nz-icon nzType="upload" nzTheme="outline" class="fs-5 fw-bold"></span>
              <input type="file" (change)="handleOtherImageChange($event)" multiple class="d-none"/></label>
          </div>
          <table *ngIf="fileList.length" class="mt-3">
            <tr *ngFor="let file of fileList">
              <td>{{file.name}}</td>
              <td class="px-3" role="button" (click)="deleteOtherImage(file.name)">
                <span nz-icon nzType="delete" nzTheme="outline" class="text-danger"></span>
              </td>
            </tr>
          </table>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzLg]="6" [nzMd]="2" [nzSm]="0">
      </nz-form-control>
      <nz-form-control [nzLg]="14" [nzMd]="22" [nzSm]="24">

        <button nz-button *ngIf="(!readonly)" routerLink="/admin/school" (click)="resetForm()">Cancel</button>

        <button nz-button *ngIf="(readonly)"
                (click)="showDeleteConfirm('delete')" nzType="primary" nzDanger>Delete
        </button>

        <button nz-button *ngIf="(!status || status == 'SAVED') && !readonly && (role == 'SCHOOL_OWNER')"
                (click)="submitForm('saved')"
                nzType="primary">Save Draft
        </button>

        <button nz-button *ngIf="(readonly)" nzType="primary"
                [routerLink]="['/admin/school/edit', schoolObject?.id]">Edit
        </button>

        <button nz-button *ngIf="(status == 'SUBMITTED') && (role == 'ADMIN')"
                nzType="primary" (click)="showApprovedConfirm('reject')" nzDanger>Reject
        </button>

        <button nz-button *ngIf="(status == 'SUBMITTED' ) && (role == 'ADMIN') "
                nzType="primary" (click)="showApprovedConfirm('approve')">Approve
        </button>

        <button nz-button *ngIf="(readonly && (status == 'APPROVED' || status == 'UNPUBLISHED'))"
                (click)="showApprovedConfirm('publish')" nzType="primary">Publish
        </button>

        <button *ngIf="(readonly && status == 'PUBLISHED')" nz-button nzType="default"
                (click)="showApprovedConfirm('unPublish')"> UnPublish
        </button>

        <button nz-button *ngIf="(!readonly || status == 'SAVED')"
                (click)="submitForm('submit')" nzType="primary">Submit
        </button>

      </nz-form-control>
    </nz-form-item>
    <!--   nút button của các màn hình  -->
  </form>
</div>

